.navbar{
display:none;
}
    
.layer{
position: relative;
z-index: 4;
width: 100%;
left: 0;
top: 5%;
-webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
}

.videoContainer 
{
    position:absolute;
    height:100%;
    width:100%;
    overflow: hidden;
}

.videoContainer video 
{
    min-width: 100%;
    min-height: 100%;
}
.home-icons{
    left: 2%;
    position: absolute;
}
.home-icons-right{
    right: 2%;
    position: absolute;

}

.offwhite{
    color: #f0f0f0;
}

.location{
    color: #f0f0f0;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    padding-right: 50px;
}
.search{
    color: #f0f0f0;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    padding-left: 50px;
} 
.menu{
    padding-left: 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    color: #f0f0f0;
}
.heading{
    color: #f0f0f0;
}

.button {
    border: 1px solid #f0f0f0;
    border-radius: 34px;
    color: #f0f0f0;
    background: transparent;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    -webkit-transition-duration: 0.4s; /* Safari */
            transition-duration: 0.4s;
}

.button:hover {
    background-color: #f0f0f0; /* Green */
    color: #212121;
}

.input-field .prefix {
     color: #757575;
}

.search-border-left {
    border-top: 1px solid #f0f0f0;
    border-top-left-radius: 56px;
    border-bottom: 1px solid #f0f0f0;
    border-bottom-left-radius: 56px;
    border-left: 1px solid #f0f0f0;
    background: transparent;
}
.search-border-right {
    border-top: 1px solid #f0f0f0;
    border-top-right-radius: 56px;
    border-bottom: 1px solid #f0f0f0;
    border-bottom-right-radius: 56px;
    border-right: 1px solid #f0f0f0;
    background: transparent;
}

.filter-border {
    border: 1px solid #212121;
    border-radius: 56px;
    background: transparent;
}

.bg{

    background: url(../images/bg.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
} 

.shadow {
   -moz-box-shadow-top:    inset 0 2px 5px #4e4b76;
   -webkit-box-shadow-top: inset 0 2px 5px #4e4b76;
   box-shadow:         inset 0 2px 5px #4e4b76;
}
.share {
    position: absolute;
    top: 5px;
    opacity: 0.5;
    color: #f0f0f0;
    padding: 2px;
    border-style: solid;
    right: 5px;
    border-radius: 50%;
    border-color: #f0f0f0;
}

